# This is a basic workflow to help you get started with Actions

name: Consul Register Service

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    paths:
    - "consul/services/register/**"
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Install Consul CLI
      run: sudo sh ./consul.sh

    # Runs a set of commands using the runners shell
    - name: Check version of Consul
      id: consul
      run: |
        echo ::set-output name=console-output::$(consul version)
        
    - name: Display console output
      run: echo "This is the Consul version = ${{ steps.consul.outputs.console-output }}"

    - name: Read Consul Host Data
      id: consul_host
      run: | 
        echo ::set-output name=consul_host::$(cat ./config/consul.cfg | jq '.consul[0] .host')
        echo ::set-output name=consul_portt::$(cat ./config/consul.cfg | jq '.consul[0] .port')
        
    - name: Register Service Definition
      run: |
        export CONSUL_HTTP_SSL_VERIFY=false
        (consul services register -http-addr=${{ steps.consul_host.outputs.consul_host }} ./nginx.json)
        
    - name: Show Registered Services
      run: |
        export CONSUL_HTTP_SSL_VERIFY=false
        (consul catalog services -http-addr=${{ steps.consul_host.outputs.consul_host }})
        
        
    
